<!-- File: templates/admin/addCategory.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{admin/base::layout(~{::section})}">
<head>
    <meta charset="UTF-8" />
    <title>Categories</title>
</head>
<body>
<section>
    <div class="container-fluid mt-5">
        <div class="row  mt-5">
            <!-- Sidebar -->
            <div class="col-md-3 mb-4" th:insert="~{admin/sidebar :: sidebar}"></div>

            <!-- Main Content -->
            <div class="col-md-5 mt-5">
                <div id="main-content mt-5">
                    <h3>Manage Categories</h3>
                    <form method="post" th:action="@{/admin/saveCategory}" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="categoryName" class="form-label">Enter Category Name</label>
                            <input type="text" class="form-control" id="categoryName" name="name" placeholder="Category name" required />
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Upload Image</label>
                            <input type="file" class="form-control" name="image" />
                        </div>

                        <button type="submit" class="btn btn-primary">Save Category</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
