<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{admin/base :: layout(~{::section})}">
<section>
  <div class="container mt-4">
    <h4 class="text-center mb-4">Admin Dashboard</h4>
    <div class="row g-4">

      <div class="col-md-4">
        <div class="card text-center p-4">
          <i class="fa-solid fa-plus fa-2x text-primary mb-2"></i>
          <h6>Add Product</h6>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card text-center p-4">
          <i class="fa-solid fa-layer-group fa-2x text-success mb-2"></i>
          <h6>Manage Category</h6>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card text-center p-4">
          <i class="fa-solid fa-box fa-2x text-danger mb-2"></i>
          <h6>Manage Orders</h6>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card text-center p-4">
          <i class="fa-solid fa-users fa-2x text-warning mb-2"></i>
          <h6>Manage Users</h6>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card text-center p-4">
          <i class="fa-solid fa-book fa-2x text-info mb-2"></i>
          <h6>View Products</h6>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card text-center p-4">
          <i class="fa-solid fa-user-shield fa-2x text-secondary mb-2"></i>
          <h6>Add Admin</h6>
        </div>
      </div>

    </div>
  </div>
</section>
</html>
