<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-4">

        side bar // add prodcut , product list , (only name will be which I will click on add prodcut then add prodcut froms whould be open)
      </div>

      <div class="col-md-8">
        <div class="card">
          forms , table ,  or etc,// what i want
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>