<!-- sidebar.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">
<head>
  <meta charset="UTF-8">
  <title>side bar</title>
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>

  </style>
</head>
<body>
<!-- sidebar.html -->
<!-- sidebar.html -->
<!-- sidebar.html -->
<div th:fragment="sidebar">
  <div class="list-group">
    <a href="/product/add" class="list-group-item list-group-item-action">Add Product</a>
    <a href="/product/list" class="list-group-item list-group-item-action">Product List</a>
  </div>
</div>




</body>
</html>
