<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>View Product</title>
    <style>
        body, html {
            height: 100%;
        }
        .full-height-center {
            height: 100vh;
        }
    </style>
</head>
<body>

<section>
    <br><br><br>
    <div class="d-flex justify-content-center align-items-center full-height-center mt-5">
            <div class="card product-card" style="width: 22rem;">
                <img src="img/books2.jpg" class="card-img-top" alt="Book">
                <div class="card-body d-flex flex-column justify-content-between text-center">
                    <p class="card-text mb-1">Math Book</p>
                    <p class="card-text mb-2">$ 400</p>
                    <button class="btn btn-primary mt-auto">Add Cart</button>
                </div>
            </div>
    </div>
</section>
</body>
</html>
